
*{
	box-sizing:border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }

body{

	background-color: lavender;

}
/**********START HEADER**********/
#wrapper{
	width:100%;
}

header{
	position: relative;

}

.menu-all{
	background-color: black;
	height:100px;
}

li a {
	color: white;
}

h1{
	color: black;
}

h2{
	position: relative;
	left:0px;
}
p{
	color:black;

}
#logo{
	height:100px;
}
.menu-btn span{
	display: block;
	background-color: #cbcbcb;
	width: 60px;
	height: 8px;
	margin: 6px;
	border-radius: 5px;
}

#panier{
	position:relative;
	left:1680px;
	bottom:120px;
	height:100px;
}

nav:first-of-type ul{
	display: flex;

}

ul li{
	position: relative;
	display: inline-block;
}

#navigation{
	display:flex;
	justify-content: space-around;


}

.nav-ul-1 {
	position:relative;
	justify-content:space-evenly;
	bottom:85px;
	right:0px;
}

#langues{

	position: relative;
	bottom:37px;
	right:70px;
}

#search{
	border-radius:10px;
}

.search-loupe{
	height: 40px;
	margin: 10px 20px 20px 0;
	position: relative;
	top:39px;
	background: white;
}

#loupe{
	height:40px;
	margin:0 20px 0 0;
	position:relative;
	bottom:174px;
 	left:1665px;
}

ul{
	position: relative;
	bottom: 150px;
	display: flex;
	justify-content: space-around;
}

#banner {
	width:100%;
	height:100%;
	position:relative;
	bottom:200px;
	padding:150px;
}

header nav .nav-ul-1 li a:hover{
	display: block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color:white;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-top: 10px solid red;
}


#login{
	position: relative;
	right:4px;
}

#logout{
	position: relative;
	right: 0;
}
/**********END  HEADER**********/

/**********START  INDEX**********/
.livres01{
	display: flex;
	justify-content: space-around;
	position: relative;
	bottom:90px;
}

.livres02{
	display: flex;
	justify-content: space-around;
}
/**********END  INDEX**********/

/**********START CONTACT**********/
#formulaire{
	position: relative;
	color: #000;

}

#formulaire-contact{
	position: relative;
	bottom:225px;
	/*left:500px;*/
}

/**********END  CONTACT**********/

/**********START MAIN**********/
img{
	height:200px;
	display: block;
	max-width: 100%;

}

.panier{
	height:55px;
	width:100px;
	border:0;
}
/****START 6-8 ANS***/
#livres-de6-8ans{
	position: relative;
	left:80px;

}

#6-8ans{
	position: relative;
	bottom:150px;

}
#clifford{
	position:relative;
	bottom:376px;
	left:500px;
}

#journal{
	position:relative;
	bottom:746px;
	left:989px;
}

#piano{
	position:relative;
	bottom:728px;

}

#affaire{
	position:relative;
	bottom:1100px;
	left:500px;
}
/****END 6-8 ANS***/

/****START 12 ANS ET PLUS***/
#livres-12ans-et-plus{
	position: relative;
	left:80px;
	display: flex;

}

#12ans{
	position:relative;
	bottom:1069px;
}

#judith{
	position: relative;
	bottom:1000px;


}

#naturo{
	position: relative;
	bottom: 1000px;
	left: 250px;

}

#punch{
	position: relative;
	bottom:1000px;
	left:500px;
}

#strawberry{
	position: relative;
	bottom: 612px;
	right:780px;
}

#tokyo{
	position: relative;
	bottom: 612px;
	right:530px;
}
/****END 12 ANS ET PLUS***/

/****START 18 ANS ET PLUS***/
#livres-18ans-et-plus{
	position: relative;
	display: flex;

}

#man{
	position: relative;
	bottom: 500px;
	left:90px;

}

#voyage{
	position: relative;
	bottom:500px;
	left:380px;

}

#secret{
	position: relative;
	bottom: 500px;
	left:550px;

}

#colonne-de-feu{
	position: relative;
	bottom: 100px;
	right:780px;

}

#vipere-au-poing{
	position: relative;
	bottom: 100px;
	right:590px;

}
/****END 18 ANS ET PLUS***/

/**********END MAIN**********/

/**********START FOOTER**********/

.footer-1 {
	margin: 20px 0;
	display: flex;
	justify-content: space-evenly;
}

.footer-2{
	display: flex;
	margin: 0;
}

.copyright{
	order: 1;
	font-size: 0.8em;
	margin: auto;
	position: relative;
	right:530px;
}

.footer-rs-mailto{
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	display: flex;
}

footer .heures-ouverture, .adresse{
	margin: 50px 0 10px 0;
	font-size: 0.8em;
}

.heures-ouverture{
	position: relative;
	right:100px;
}
.projet-etudiant{
	text-align: center;
	font-size:0.8em;
}

.rs{
	align-self: center;
	display: flex;
	position: relative;
	right:800px;
}

.rs img{
	width: 40px;
}

.mailto{
	font-size:15px;
	position: relative;
	right:265px;
	top:25px;
}

.a-propos {
	display: block;
	margin: 50px 0 10px 0;
	font-size: 0.8em;
	position: relative;
	right:100px;
}

.a-propos p {
	display: block;
	margin: 15px auto;
}

h4 {
	color:black;
	font-size: 2.0em;
	position: relative;
	text-align: center;

}

footer p {
	font-weight: normal;
}

p {
	font-size: 20px;

}

.rs img{
	height:50px;
	width:50px;
}

#livres-18ans-et-plus{
	display: flex;
	justify-content: space-evenly;
}
/**********END FOOTER**********/

/**********START DETAILS**********/
#livre_nom{
	position: relative;
	bottom:67px;
}

#images{
	position: relative;
	top:12px;
	left: 450px;
}

#mysterieuse{
	position:relative;

}

#panier_img{
	position: relative;
	height: 50px;
	top: 240px;
	right: 600px;
}
/**********END DETAILS**********/

#content{
	position: relative;

}

#espace{
	position: relative;
	bottom: 177px;
	left:500px;
}

.login{

}

.mdp{
	position: relative;
	top: 28px;
}

input{
	position: relative;
	left:45px;
}

#connexion{
	position: relative;
	top: 61px;
	left: 110px;
}

.input{
	position: relative;
	left: 90px;
}

#submit{
	background-color: red;
	width: 345px;
	height: 136px;
	padding: 10px;
}